@font-face {
  font-family: "Caviar Dreams";
  src: url("CaviarDreams-Bold.woff2") format("woff2"),
    url("CaviarDreams-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("CaviarDreams-BoldItalic.woff2") format("woff2"),
    url("CaviarDreams-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("CaviarDreams-Italic.woff2") format("woff2"),
    url("CaviarDreams-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("CaviarDreams.woff2") format("woff2"),
    url("CaviarDreams.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
